<h1>
    Eat-Da-Burger!</h1>

<h2>Burger</h2>

<ul>
    {{#each burgers}} 
    {{#unless devoured}} 
    {{> burgers/burger-block devoured=false}} 
    {{!-- ?????? --}}
        {{/unless}} 
    {{/each}}
</ul>


<h2>Burger you ate</h2>
<ul>
    {{#each burgers}} 
    {{#if devoured}} 
    {{> burgers/burger-block devoured=true}} 
    {{!-- ????? --}}
    {{/if}}
    {{/each}}
</ul>


<h2> make a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">burger Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add burger</button>


</form>

<form class="change-form">
    <div class="form-group">
        <label for="num">Type the number that you want to eat:</label>
        <input type="number" id="num" name="number" placeholder="ex)  2">
    </div>


    <button type="submit"> EAT </button>
</form>